.work {
  &-img-width {
    max-width: 60%;
  }
  &-section {
    display: flex;
    align-items: center;
    border: solid black 1px;
    padding: 15px;
    box-shadow: 3px 3px 8px #54585A;

    &-ul {
      display: inline-block;
      text-align: left;
    }

    &-outer {
      min-width: 50%;
    }

    &-vertical-flex {
      display: flex;
      flex-direction: column;
    }
  }
  &-github-link {
    color: #4172d2;
  }
}

.text-align-left {
  text-align: left;
}