@import "src/components/Modules/Section";

.project {
  &-img {
    &-width {
      max-width: 60%;
    }
    &-align {
      display: flex;
    }
  }


  &-github-link {
    color: #4172d2;
  }
}

.text-align-left {
  text-align: left;
}